.home {
    display: flex;
    text-align: center;

}

.welcome {
    display: flex;
    justify-content: center;
}

.intro {
    display: flex;
    justify-content: center;
}

body {
    background-color: lightblue;
}